<mat-tab-group>
    <mat-tab label="Scheman">
        <ng-template matTabContent>
            <app-schedules></app-schedules>
        </ng-template>
    </mat-tab>
    <mat-tab label="Drift"> Driften kommer här </mat-tab>
</mat-tab-group>