<h1 class="mat-h1">Bevattningsscheman</h1>
<div *ngFor="let schedule of schedules; let i = index">
    <app-schedule [schedule]="schedule" [scheduleIndex]="i" (deleteIndex)=delete($event)></app-schedule>
</div>
<button mat-button color="primary" (click)="save()">Spara</button>
<button mat-button color="accent" (click)="newSchedule()">Nytt schema</button>
<button mat-button color="accent" (click)="cancel()">Ångra</button>