<ng-container *ngIf=schedule>
    <h2 class="h2">{{schedule.loopName}}</h2>
    <div *ngFor="let scheduleItem of schedule.scheduleItems; let i = index">
        <app-schedule-item [scheduleItem]="scheduleItem" [itemIndex]="i" (deleteIndex)=delete($event) (addIndex)=add($event)>
        </app-schedule-item>
    </div>
</ng-container>