<form class="flex-container" [formGroup]="scheduleItemForm">
    <div>
        <mat-form-field>
            <mat-label>Tidpunkt</mat-label>
            <input matInput id=time type="time" formControlName="time">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Varaktighet (minuter)</mat-label>
            <input matInput id="duration" type="number" formControlName="duration">
        </mat-form-field>
    </div>
    <div class="flex-right">
        <button mat-button color="primary" class="icon" (click)="add()">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
        <button mat-button color="primary" class="icon" (click)="delete()">
            <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </button>
    </div>
</form>