mat-form-field {
    width: 40%;
}

.mat-form-field {
    line-height: inherit;
}

.flex-container {
    display: flex;
}

.flex-right {
    @extend .flex-container;
    justify-content: flex-end;
}

.icon {
    min-width: 10px;
    padding-left: 10px;
    padding-right: 5px;
}